#content_zadanie {
    display: flex;
    width: 70vh;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

#content_zadanie .right {
    text-align: right;
}

#content_zadanie .adnote {
    text-align: center;
    line-height: auto;
}

#content_zadanie .math {
    text-align: center;
    line-height: auto;
}
